
body {
    margin: 0;
}

.ground{
    position:absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.cloud{
        position:absolute;
        width: 300px;
        animation: cloud 10s linear infinite;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
    
}

@keyframes cloud {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}
 